.paddingSides {
  padding-left: 24px;
  padding-right: 24px;
}

.smallText {
  color: gray;
}

.buttonMargin {
  margin-top: 14px !important;
}

.alignRight {
  margin-left: auto;
  margin-right: 0;
}

.invite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    margin-right: 5px;
  }
}

.btn {
  margin-top: 24px;
  margin-bottom: auto;
}