.marginTop{
    margin-top: 50px;
}
  
.floatLeft{
    float: left
  }
  
.averageTime{
    font-size: 20px;
}
  
.averageText{
    font-size: 12px;
    color: #8798ad;
}
  
.marginRight15{
    margin-right: 15px;
}
  
.marginBottom{
    margin-bottom: 25px;
}
  
.bold{
    font-weight: bold;
}
  
.legend{
    height: 20px;
    margin-top: 10px;
}
  
.displayInlineBlock{
    display: inline-block;
}
  
.widthMax{
    width: 100%;
}

.floatRight{
    float: right;
}

.rect14{
    width: 14px;
    height: 10.5px;
}
  
.waitingDataText{
    font-size: 14px;
    text-align: center;
    color: #8798ad;
}

  
.marginRight10{
    margin-right: 10px;
}

.marginAuto{
    margin-left: auto;
    margin-right: auto;
}

.paddingRight{
    padding-right: 10px;
}

.marginLeft20{
    margin-left: 20px;
}

.marginTop57{
    margin-top: 57px;
}