.textAlign {
  text-align: center;
}

.profilePhoto {
  margin: 0 auto;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pointerCursor {
    cursor: pointer;
}