.header {
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 38px;
  margin-top: 0;
  margin-bottom: 0;
}

.centerMainContent { 
  justify-content: center;
}

.defaultContent {
  height: 180px;
  text-align: center;
  padding: 40px;
  border: 1px solid #95989A;
  cursor: pointer;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.opacity {
  opacity: 0.3;
}

.noOpacity {
  opacity: 1;
}